:root {
    --background-primary: rgb(156, 17, 17) !important;
    --background-secondary: rgba(134, 136, 0, 0.847);
    --background-secondary-alt: rgb(0, 84, 95) !important;
    --background-tertiary: rgb(127, 252, 44) !important;
}
