:root {
    --background-primary: #3bd11d !important;
    --background-secondary: #d11313 !important;
    --background-secondary-alt: #bd0707 !important;
    --background-tertiary: #81f74a !important;
}