:root {
    --background-image: url('https://i.imgur.com/F29kR3B.jpg'); /* Main background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
    --background-image-blur: 5px; /* Blur intensity of --background-image | Must end in px | DEFAULT: 5px */
    --background-image-size: cover; /* Size of the background image | DEFAUT: cover */
    --background-image-position: center; /* Position of background image | DEAFULT: center */
}